@import url(../global/all.css);
@import url(../blocks/page.css);
@import url(../blocks/head.css);
@import url(../blocks/foot.css);
@import url(../blocks/indexline.css);
@import url(../blocks/count.css);
@import url(../blocks/shortvacancy.css);
@import url(../blocks/fade/fade.css);
@import url(../blocks/salary.css);
@import url(../blocks/title.css);
@import url(../blocks/hint.css);