@import url('vacancylist__item.css');
@import url('vacancylist__name.css');
@import url('vacancylist__salary.css');
@import url('vacancylist__company.css');
@import url('vacancylist__logo.css');
@import url('vacancylist__info.css');