.vacancylist__company{
  margin-top:.2em;
}
  .vacancylist__company__link{
    color:#999;
    text-decoration:none;
  }
  .vacancylist__company__link:visited{
    color:#999
  }
  .vacancylist__company__link:hover{
    color:#c00;
  }