.head{
  margin-top:1em;
  margin-bottom:1em;
}
  .head__title{
    font-size:1.4em;
    font-weight:normal;
  }

  .head_subtitle{
    font-size:.8em;
    display:inline;
    color:#ccc;
    font-weight:normal;
  }
