.shortvacancy__header{
  margin-bottom:1em;
}
  .shortvacancy__header__link{
    color:#000;
  }
    .shortvacancy__header__link:visited{
      color:#000;
    }
    .shortvacancy__header__link:hover{
      color:#c00;
    }
  .shortvacancy__list{
    padding-top:10px;
    padding-bottom:10px;
    background:#FFF;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:1px 1px 3px #D3BA02;
    -moz-box-shadow:1px 1px 3px #D3BA02;
    -webkit-box-shadow:1px 1px 3px #D3BA02;
  }



.shortvacancy{
  margin-top:.6em;
}
  .shortvacancy__title{
    color:#000;
    font-weight:normal;
  }
    .shortvacancy__title__link{
      overflow: hidden;
      white-space:nowrap;
      display:block;
      height:1.2em;
    }

  .shortvacancy__company{
    margin-top:.2em;
  }
    .shortvacancy__company__link{
      color:#999;
      font-size:.8em;
      text-decoration:none;
      overflow: hidden;
      white-space:nowrap;
      display:block;
    }
      .shortvacancy__company__link:visited{
        color:#999;
      }
      .shortvacancy__company__link:hover{
        color:#c00;
      }