.title{
  color:#000;
  font-weight:normal;
  font-size:1.4em;
  margin-top:.7em;
  margin-bottom:.3em;
}
  .m-title_margin{
    margin-top:1.5em;
    margin-bottom:1em;
  }
  .m-title_marginbottom{
    margin-bottom:1em;
  }
