
.layout{
  width:100%;
  table-layout:fixed;
}
  .layout__padding{
    padding-right:10px;
    padding-left:10px;
  }

  .layout__paddingright{
    padding-right:10px;
  }
  .layout__paddingleft{
    padding-left:10px;
  }


  
.web{
  height:1000px;
  font-size:0px;
  opacity:.1;
  filter:alpha(opacity=10);
  position:absolute;
  z-index:-1;
}
  .web .layout{
    height:1000px;
  }

