
.layout{
  width:100%;
  table-layout:fixed;
}
  .layout__padding{
    padding-right:10px;
    padding-left:10px;
  }

  .layout__paddingright{
    padding-right:10px;
  }
  .layout__paddingleft{
    padding-left:10px;
  }
