.searchform{
  margin-top:.5em;
  margin-bottom:.5em;
  padding-top:.5em;
  padding-bottom:.5em;
}
  .searchform__item{
    vertical-align:middle;
  }
  .searchform__input{
    font-size:1.3em;
  }
  
  .searchform__search{
    width:100%;
  }
  
  .searchform__hint{
    font-size:.8em;
    color:#2e7368;
  }
  
  .searchform__salary{
  }
  .searchform__salaryinput{
    width:100%;
  }

  .searchform__submitinput{
    padding-left:1em;
    padding-right:1em;
  }

  .searchform__onlysalary{
    position:absolute;
    margin-left:-1.5em;
    margin-top:.4em;
    display:block;
  }
